In [2]:
import pandas as pd
from ISLP import load_data
import numpy as np
Hitters = load_data('Hitters')
print(Hitters)

     AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  CHmRun  \
0      293    66      1    30   29     14      1     293     66       1
1      315    81      7    24   38     39     14    3449    835      69
2      479   130     18    66   72     76      3    1624    457      63
3      496   141     20    65   78     37     11    5628   1575     225
4      321    87     10    39   42     30      2     396    101      12
..     ...   ...    ...   ...  ...    ...    ...     ...    ...     ...
317    497   127      7    65   48     37      5    2703    806      32
318    492   136      5    76   50     94     12    5511   1511      39
319    475   126      3    61   43     52      6    1700    433       7
320    573   144      9    85   60     78      8    3198    857      97
321    631   170      9    77   44     31     11    4908   1457      30

     CRuns  CRBI  CWalks League Division  PutOuts  Assists  Errors  Salary  \
0       30    29      14      A        E      446       33      20     NaN
1      321   414     375      N        W      632       43      10   475.0
2      224   266     263      A        W      880       82      14   480.0
3      828   838     354      N        E      200       11       3   500.0
4       48    46      33      N        E      805       40       4    91.5
..     ...   ...     ...    ...      ...      ...      ...     ...     ...
317    379   311     138      N        E      325        9       3   700.0
318    897   451     875      A        E      313      381      20   875.0
319    217    93     146      A        W       37      113       7   385.0
320    470   420     332      A        E     1314      131      12   960.0
321    775   357     249      A        W      408        4       3  1000.0

    NewLeague
0           A
1           N
2           A
3           N
4           N
..        ...
317         N
318         A
319         A
320         A
321         A

[322 rows x 20 columns]

In [3]:
Hitters.describe()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.00000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,263.000000
mean,380.928571,101.024845,10.770186,50.909938,48.027950,38.742236,7.444099,2648.68323,717.571429,69.490683,358.795031,330.118012,260.239130,288.937888,106.913043,8.040373,535.925882
std,153.404981,46.454741,8.709037,26.024095,26.166895,21.639327,4.926087,2324.20587,654.472627,86.266061,334.105886,333.219617,267.058085,280.704614,136.854876,6.368359,451.118681
min,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,19.00000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.500000
25%,255.250000,64.000000,4.000000,30.250000,28.000000,22.000000,4.000000,816.75000,209.000000,14.000000,100.250000,88.750000,67.250000,109.250000,7.000000,3.000000,190.000000
50%,379.500000,96.000000,8.000000,48.000000,44.000000,35.000000,6.000000,1928.00000,508.000000,37.500000,247.000000,220.500000,170.500000,212.000000,39.500000,6.000000,425.000000
75%,512.000000,137.000000,16.000000,69.000000,64.750000,53.000000,11.000000,3924.25000,1059.250000,90.000000,526.250000,426.250000,339.250000,325.000000,166.000000,11.000000,750.000000
max,687.000000,238.000000,40.000000,130.000000,121.000000,105.000000,24.000000,14053.00000,4256.000000,548.000000,2165.000000,1659.000000,1566.000000,1378.000000,492.000000,32.000000,2460.000000

In [4]:
Hitters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    category
 14  Division   322 non-null    category
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    category
dtypes: category(3), float64(1), int64(16)
memory usage: 44.2 KB

In [5]:
Hitters=Hitters.dropna()
df=Hitters.drop(["League", "Division", "NewLeague"], axis=1)

In [6]:
df.isnull().sum()

AtBat      0
Hits       0
HmRun      0
Runs       0
RBI        0
Walks      0
Years      0
CAtBat     0
CHits      0
CHmRun     0
CRuns      0
CRBI       0
CWalks     0
PutOuts    0
Assists    0
Errors     0
Salary     0
dtype: int64

In [7]:
df.columns

Index(['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists',
       'Errors', 'Salary'],
      dtype='object')

In [8]:
y=df["Salary"]
y

1       475.0
2       480.0
3       500.0
4        91.5
5       750.0
        ...
317     700.0
318     875.0
319     385.0
320     960.0
321    1000.0
Name: Salary, Length: 263, dtype: float64

In [9]:
x=df.drop(["Salary"], axis=1)
from sklearn.preprocessing import StandardScaler
x=StandardScaler().fit_transform(x)
x = pd.DataFrame(x, columns=[['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists',
       'Errors']])
print(x)

        AtBat      Hits     HmRun      Runs       RBI     Walks     Years  \
0   -0.602900 -0.595675 -0.528551 -1.206112 -0.522063 -0.097527  1.397893
1    0.512542  0.492260  0.729966  0.441515  0.794060  1.609373 -0.901200
2    0.628167  0.736490  0.958788  0.402286  1.026317 -0.189792  0.770868
3   -0.562092 -0.462459 -0.185319 -0.617673 -0.367225 -0.512719 -1.110209
4    1.294712  1.358167 -0.871783  0.755349 -0.018840 -0.282057  0.770868
..        ...       ...       ...       ...       ...       ...       ...
258  0.634968  0.425651 -0.528551  0.402286 -0.134968 -0.189792 -0.483183
259  0.600961  0.625476 -0.757373  0.833807 -0.057549  2.439756  0.979876
260  0.485336  0.403449 -0.986194  0.245369 -0.328515  0.502194 -0.274175
261  1.151881  0.803098 -0.299730  1.186870  0.329546  1.701637  0.143842
262  1.546366  1.380370 -0.299730  0.873036 -0.289806 -0.466586  0.770868

       CAtBat     CHits    CHmRun     CRuns      CRBI    CWalks   PutOuts  \
0    0.346791  0.174373 -0.002920 -0.121671  0.258966  0.435334  1.221499
1   -0.452865 -0.409892 -0.076054 -0.415105 -0.199590  0.010373  2.109109
2    1.301558  1.318174  1.898565  1.412051  1.572666  0.355654 -0.324661
3   -0.990935 -0.960153 -0.697693 -0.947521 -0.881228 -0.862315  1.840678
4    0.766993  0.634985 -0.612370  0.422846  0.017294 -0.251434 -0.031177
..        ...       ...       ...       ...       ...       ...       ...
258  0.019917  0.129549 -0.453913  0.053785 -0.060165 -0.463914  0.122723
259  1.250292  1.219250 -0.368590  1.620783  0.373605  2.332483  0.079774
260 -0.419565 -0.446988 -0.758638 -0.436281 -0.735605 -0.433560 -0.908051
261  0.236810  0.208378  0.338372  0.329068  0.277556  0.272180  3.662427
262  0.986077  1.135784 -0.478291  1.251721  0.082360 -0.042747  0.419786

      Assists    Errors
0   -0.523191  0.213352
1   -0.253863  0.819964
2   -0.744179 -0.848219
3   -0.543909 -0.696566
4    2.087225  2.488147
..        ...       ...
258 -0.757991 -0.848219
259  1.810990  1.729882
260 -0.039781 -0.241607
261  0.084525  0.516658
262 -0.792520 -0.848219

[263 rows x 16 columns]

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=100)

In [11]:
X_train.shape

(210, 16)

OLS

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [13]:
y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)
lr_coef=lr.coef_
lr_intercept=lr.intercept_
print(lr_coef)
print(lr_intercept)

[-419.07445276  494.60160436   58.72766371 -103.1590053   -51.31248272
  153.15103616  -18.27189979 -159.69968291 -325.73089098 -167.40655055
  654.73853228  413.87515725 -242.10273869   70.92035059   61.64933356
  -24.56242375]
518.368456938461

Lasso

In [14]:
from sklearn import linear_model
lasso = linear_model.Lasso()
lasso.fit(X_train, y_train)
print(lasso.coef_)
print(lasso.intercept_)

[-401.42670651  417.04556408    9.87849736  -29.53103463   -0.
  126.92675069  -38.20643052  -46.11086161    0.           -0.
  322.43057057  117.7994625  -177.12931033   68.23203736   53.09416121
  -22.43972169]
518.9742921281148

In [15]:
y_lasso_train_pred = lasso.predict(X_train)
y_lasso_test_pred = lasso.predict(X_test)

# Evaluate model performace

In [16]:
from sklearn.metrics import mean_squared_error, r2_score

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)

lr_test_mse =  mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)

In [17]:
lasso_train_mse = mean_squared_error(y_train, y_lasso_train_pred)
lasso_train_r2 = r2_score(y_train, y_lasso_train_pred)

lasso_test_mse =  mean_squared_error(y_test, y_lasso_test_pred)
lasso_test_r2 = r2_score(y_test, y_lasso_test_pred)

In [18]:
lr_results=pd.DataFrame(["OLS", lr_train_mse, lr_train_r2, lr_test_mse, lr_test_r2]).transpose()
lr_results.columns = ["Method", "Training MSE", "Training R2", "Test MSE", "Test R2" ]

In [19]:
lasso_results=pd.DataFrame(["Lasso", lasso_train_mse, lasso_train_r2, lasso_test_mse, lasso_test_r2]).transpose()
lasso_results.columns = ["Method", "Training MSE", "Training R2", "Test MSE", "Test R2" ]

In [20]:
lr_results

  Method  Training MSE Training R2       Test MSE   Test R2
0    OLS  93356.887771    0.489591  120917.705505  0.558522

In [21]:
lasso_results

  Method  Training MSE Training R2       Test MSE   Test R2
0  Lasso  94483.951618    0.483429  118383.654024  0.567774

In [22]:
df_models = pd.concat([lr_results, lasso_results], axis=0)
df_models

  Method  Training MSE Training R2       Test MSE   Test R2
0    OLS  93356.887771    0.489591  120917.705505  0.558522
0  Lasso  94483.951618    0.483429  118383.654024  0.567774

Optimize Lasso (just try)

In [23]:
param_grid = { "alpha" : [0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000]}

In [24]:
from sklearn.model_selection import GridSearchCV
lasso_cv= GridSearchCV(lasso, param_grid, cv=3, n_jobs=-1)
lasso_cv.fit(X_train, y_train)
lasso_cv.best_estimator_

Lasso(alpha=10)

In [25]:
lasso3=linear_model.Lasso(alpha=10)
lasso3.fit(X_train, y_train)
lasso_coef=lasso3.coef_
lasso_imtercept=lasso3.intercept_

In [26]:
y_lasso_train_pred2 = lasso_cv.predict(X_train)
y_lasso_test_pred2 = lasso_cv.predict(X_test)

In [27]:
lasso2_train_mse = mean_squared_error(y_train, y_lasso_train_pred2)
lasso2_train_r2 = r2_score(y_train, y_lasso_train_pred2)

lasso2_test_mse =  mean_squared_error(y_test, y_lasso_test_pred2)
lasso2_test_r2 = r2_score(y_test, y_lasso_test_pred2)

In [28]:
lasso2_results=pd.DataFrame(["LassoCV", lasso2_train_mse, lasso2_train_r2, lasso2_test_mse, lasso2_test_r2]).transpose()
lasso2_results.columns = ["Method", "Training MSE", "Training R2", "Test MSE", "Test R2" ]

In [29]:
from sklearn.linear_model import SGDRegressor
sgd=SGDRegressor(alpha=10, penalty="l1")
sgd.fit(X_train, y_train)
sgd_coef=sgd.coef_
print(sgd_coef)

[ 0.         74.29414937  0.          9.08379324  0.         38.1739158
  0.         21.9334465  64.97706751  0.         63.62008258 38.15288083
  0.         51.53880048  0.         -4.47029884]

In [30]:
y_sgd_train_pred2 = sgd.predict(X_train)
y_sgd_test_pred2 = sgd.predict(X_test)
sgd_train_mse = mean_squared_error(y_train, y_sgd_train_pred2)
sgd_train_r2 = r2_score(y_train, y_sgd_train_pred2)

sgd_test_mse =  mean_squared_error(y_test, y_sgd_test_pred2)
sgd_test_r2 = r2_score(y_test, y_sgd_test_pred2)

sgd_results=pd.DataFrame(["SGD", sgd_train_mse, sgd_train_r2, sgd_test_mse, sgd_test_r2]).transpose()
sgd_results.columns = ["Method", "Training MSE", "Training R2", "Test MSE", "Test R2" ]

In [31]:
df_models = pd.concat([df_models, lasso2_results,sgd_results ], axis=0)
df_models

    Method   Training MSE Training R2       Test MSE   Test R2
0      OLS   93356.887771    0.489591  120917.705505  0.558522
0    Lasso   94483.951618    0.483429  118383.654024  0.567774
0  LassoCV  106766.192058    0.416278  125512.322326  0.541746
0      SGD  109208.161935    0.402927  126633.898625  0.537651

# Check coeficients

In [35]:
X_train_T=np.transpose(X_train)
err=y_train-(np.dot(X_train, lasso_coef)+lasso_imtercept)
s=np.dot(X_train_T,err)/(10*210)
print(s)

[-1.00019922  1.00004188  0.00323044  0.45262164  0.22287505  0.99991679
 -0.41066961  0.42946203  0.99868688  0.56480047  0.99978498  1.00000333
 -0.25287447  0.99999551  0.75601772 -1.        ]

In [36]:
coefficient=pd.DataFrame([['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists',
       'Errors'],lr_coef, lasso_coef, sgd_coef, s]).transpose()
coefficient.columns=["Features","OLS", "Lasso", "SGD", "s"]
coefficient

   Features         OLS       Lasso        SGD         s
0     AtBat -419.074453  -44.661284        0.0 -1.000199
1      Hits  494.601604  130.679484  74.294149  1.000042
2     HmRun   58.727664         0.0        0.0   0.00323
3      Runs -103.159005         0.0   9.083793  0.452622
4       RBI  -51.312483         0.0        0.0  0.222875
5     Walks  153.151036   44.185411  38.173916  0.999917
6     Years    -18.2719        -0.0        0.0  -0.41067
7    CAtBat -159.699683         0.0  21.933447  0.429462
8     CHits -325.730891     75.3216  64.977068  0.998687
9    CHmRun -167.406551         0.0        0.0    0.5648
10    CRuns  654.738532   76.758872  63.620083  0.999785
11     CRBI  413.875157   33.762201  38.152881  1.000003
12   CWalks -242.102739        -0.0        0.0 -0.252874
13  PutOuts   70.920351   51.118728    51.5388  0.999996
14  Assists   61.649334         0.0        0.0  0.756018
15   Errors  -24.562424   -2.517455  -4.470299      -1.0